@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../../variables.css');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  margin: 0;
  background-color: var(--brand-400);
  min-height: 100vh;
  box-sizing: border-box;
  transition: background-color 0.4s;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.caixadoform {
  background: #f0f0f0;
  padding: 20px 38px 24px 38px;
  border-radius: 28px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  width: 25.6vw;
  min-width: 300px;
  margin-bottom: 18px;
  transition: background-color 0.4s;
}

.tituloform {
  color: var(--brand-400);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 1px;
  transition: color 0.4s;
  line-height: 36px;
}

.formlabel {
  color: var(--brand-500);
  font-weight: 600;
  margin-top: 12px;
  font-size: 1.05rem;
  transition: color 0.4s;
}

.inputform {
  border: 1px solid var(--brand-400);
  border-radius: 8px;
  padding: 2px 6px 2px 12px;
  height: 2.2em;
  margin-top: 4px;
  font-size: 1rem;
  background: white;
  color: #222;
  font-size: 15px;
  transition: box-shadow .2s ease;
}

textarea {
  resize: none;
  border: 1px solid var(--brand-400);
  border-radius: 8px;
  padding: 3px 6px 3px 8px;
  transition: box-shadow .2s ease;
  margin-top: 4px;

  &::-webkit-scrollbar {
    display: none;
  }
}

:where(.inputform, textarea):focus {
  border-color: var(--brand-300);
  box-shadow: 0 0 3px 2px rgba(52, 144, 252, .4);
}

.inputform::placeholder {
  color: var(--brand-500);
  font-size: .85rem;
}

.button-publicar {
  margin: 23px auto 0;
  padding: 1vh 0;
  width: 16vw;
  background-color: var(--brand-300);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 8px 0 rgba(0, 38, 82, 0.3);
  transition: .2s background-color ease, .3s box-shadow ease;
}

.button-publicar:hover {
  background-color: var(--brand-400);
}

.button-publicar:active {
  box-shadow: 0 1px 3px 2px rgba(0, 80, 172, .4);
}

.icones {
  position: absolute;
  right: 24px;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.circulo {
  width: 44px;
  height: 44px;
  background: #eaf6fe;
  border: 2px solid var(--brand-300);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #43b1fd;
  box-shadow: 0 2px 8px rgba(52, 144, 252, 0.14);
  cursor: pointer;
  transition: box-shadow .2s ease;

  i {
    font-size: 22px;
  }
}

.circulo:first-child {
  background: none;
  border-color: white;
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, .4);

  i {
    color: white;
  }

  &:hover {
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, .6);
  }
}

.circulo:last-child {
  box-shadow: 0 0 3px 2px rgba(0, 204, 255, 0.4);

  &:hover {
    box-shadow: 0 0 4px 3px rgba(0, 204, 255, .6);
  }
}