:root {
    --sidebar-gradient: linear-gradient(to bottom, #006a84, #004151);
    --sidebar-shadow: 2px 0 8px 5px rgb(0, 74, 92, .6);
    --sidebar-selected-gradient: linear-gradient(to right, #0088aa, #004f62);
    --cards-gradient: linear-gradient(to bottom, #004151, #006a84, #007e9e);
    --profile-card-bg-color: white;
    --profile-card-color1: #004151;
    --profile-card-color2: #084c5d;
    --profile-card-arrow-color: #00a0c8;
}