<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Dashboard - template</title>
</head>
<body>
    <aside class="sidebar">
        <i class="bi bi-chevron-right"></i>
        <div class="profile-card">
            <img src="../image.png" alt="Imagem de usuário">
            <div class="texts">
                <h3 class="user-name">João Victor</h3>
                <span class="user-type">Aluno</span>
            </div>
            <i class="bi bi-arrow-down-circle"></i>
        </div>

        <nav class="links">
            <a href="#">
                <i class="bi bi-house"></i>
                <span class="aside-ident-text">Início</span>
            </a>
            <a href="#">
                <i class="bi bi-info-circle"></i>
                <span class="aside-ident-text">Avisos</span>
            </a>
            <a href="#">
                <i class="bi bi-trophy"></i>
                <span class="aside-ident-text">Meus certificados</span>
            </a>
            <a href="#">
                <i class="bi bi-gear"></i>
                <span class="aside-ident-text">Configurações</span>
            </a>
        </nav>

        <div class="leave">
            <i class="bi bi-box-arrow-right"></i>
            <span class="aside-ident-text">Sair</span>
        </div>
    </aside>
</body>
</html>