@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../../variables.css');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Poppins";
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--page-bg-color);
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 40px auto;
    overflow-x: hidden;
}

.sidebar {
    background: var(--sidebar-gradient);
    box-shadow: var(--sidebar-shadow);
    grid-column: 1;
    height: 100vh;
    position: fixed;
    padding-top: 13px;
    width: 240px;
    
    > i {
        color: white;
        font-size: 19px;
        margin-left: 19px;
        cursor: pointer;
    }

    .profile-card {
        background-color: var(--profile-card-bg-color);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        width: 93%;
        margin: 13px auto 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 8px;
        border-radius: 12px;

        .main-profile-part {
            display: flex;
            gap: 10px;
        }

        .texts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
        }

        img {
            width: 46px;
            height: 46px;
        }

        .user-name {
            color: var(--brand-900);
            font-size: 16px;
            font-weight: 600;
            line-height: 10px;
        }
        
        .user-type {
            color: var(--brand-400);
            font-size: 11px;
            line-height: 4px;
        }

        i {
            color: var(--brand-300);
            cursor: pointer;
            transition: .2s color ease;
        }

        i:hover {
            color: var(--brand-400);
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        margin-top: 38px;

        a {
            padding: 1px 10px;
            border-radius: 4px;
            margin-top: 8px;

            i {
                color: #e3e3e3;
                font-size: 18px;
            }

            span {
                margin-left: 4px;
                font-size: 15px;
            }
        }

        .selected {
            background: linear-gradient(to right, var(--brand-500), var(--brand-800));
            box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        }

    }
    
    .leave {
        position: absolute;
        bottom: 28px;
        cursor: pointer;
        margin-left: 10px;
        display: flex;
        align-items: center; 

        i {
            color: var(--brand-300);
            font-size: 18px;
            margin-right: 2px;
        }

        span {
            margin-left: 4px;
            font-size: 15px;
        }
    }

    .aside-ident-text {
        color: white;
    }

    :where(nav a, .leave):hover span {
        margin-left: 6px;
        transition: margin .2s ease;
    }
}

.search-container {
    --color: var(--search-container-color);
    grid-column: 2;
    margin: 32px 0 0 22px;
    background: none;

    i {
        color: var(--color);
        font-size: 15px;
        translate: 29px 7px;
        position: absolute;
    }

    input {
        background: none;
        border: 1px solid var(--color);
        color: var(--brand-900);
        width: 89.5%;
        height: 2.8em;
        margin-left: 18px;
        border-radius: 6px;
        padding: 0 6px 0 34px;
    }

    input::placeholder {
        color: var(--color);
    }

    * {
        transition: .2s all ease;
    }

    &:has(input:focus) {
        --color: var(--search-container-color2);
    }
}

.dashboard {
    grid-column: 2;
    display: flex;
    width: 40em;
    margin: 3.9em 0 0 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    &::-webkit-scrollbar {
        display: none;
    }
    
    .card {
        background: var(--cards-gradient);
        width: 18em;
        border-radius: 16px;
        box-shadow: 0 0 4px 3px rgba(0, 126, 158, .4);
        padding: 18px 20px 14px 21px;
        height: max-content;
        margin-bottom: 30px;

        .card-title {
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
        }

        .card-section {
            margin-top: 8px;
        }

        .card-section-title {
            color: #eaeaea;
            font-size: 15px;
            font-weight: 500;
        }

        .card-section-subtitle {
            color: #eaeaea;
            font-weight: 400;
            margin-top: 3px;
        }

        .progress-bar-background {
            background-color: var(--brand-900);
            box-shadow: 0 0 2px 3px rgba(0, 0, 0, .25) inset;
            width: 86%;
            height: 1.25em;
            margin: 8px 0 17px;
            border-radius: 14px;
        }

        .progress-bar {
            background-color: #1eb200;
            height: 100%;
            box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, .4) inset;
            border-radius: inherit;
        }

        ul {
            list-style-type: none;
            color: #eaeaea;
            line-height: 20px;
        }

        ul {
            font-size: 10px;
            font-weight: 300;
        }

        input[type=checkbox] {
            appearance: none;
            width: 10px;
            height: 10px;
            border: 1px solid var(--brand-900);
            margin-right: 6px;
            translate: 0 1px;
            border-radius: 1px;
            transition: .3s all ease;

            &:checked {
                background-color: var(--brand-500);
                border-color: var(--brand-500);
                box-shadow: 0 0 2px 1px var(--shadow-brand-color);
            }
        }

        .courses-list {
            list-style-type: circle;
            margin-left: 16px;
        }

        &.calendar-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            font-weight: 300;

            .top-div {
                font-size: 15px;
                margin-top: 4px;

                i {
                    cursor: pointer; 
                }
            }

            .days-container {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                width: 100%;
                justify-items: center;
                margin: 16px 0 4px;

                .gray {
                    color: #cdcdcd;
                }

                span {
                    font-size: 17px;
                }
            }

        }

        .result {
            margin: 4px 0 10px;

            .texts-container {
                display: flex;
                justify-content: space-between;
                width: 94%;
                
                span {
                    font-size: 14px;
                    align-items: flex-end;
                    color: #e4e4e4;
                }
            }
        }

        .result-bar-background {
            height: 1.35em;
            width: 94%;
            background-color: var(--brand-900);
            border-radius: 14px;
            box-shadow: 0 0 2px 3px rgba(0, 0, 0, .25) inset;
            margin: 4px 0 6px;
        }

        .result-bar {
            background-color: #d8d8d8;
            height: 100%;
            border-radius: inherit;
            box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, .8) inset;
        }
    }
}

.top-right-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    right: 28px;
    
    button {
        width: 38px;
        height: 38px;
        border: none;
        border-radius: 50%;
        font-size: 17px;
        cursor: pointer;
        transition: box-shadow .2s ease;

        &:hover {
            box-shadow: 0 0 3px 2px rgba(0, 140, 176, .4);
        }
    }

    button:first-child {
        background-color: var(--brand-500);
        color: white;
    }

    button:last-child {
        margin-top: 16px;
        border: 1px solid var(--brand-500);
        background: none;
        color: var(--brand-500);
    }
}

body.dark-theme {
  --page-bg-color: #045262;
  --sidebar-gradient: linear-gradient(180deg, #09404c 0%, #02313a 100%);
  --sidebar-shadow: 0 0 16px 0 #0007;
  --profile-card-bg-color: #037991;
  --brand-950: #ffffff;
  --brand-900: #e6f6f9;
  --brand-800: #b7e3ec;
  --brand-700: #87d0df;
  --brand-600: #5db6c8;
  --brand-500: #11b2d3;
  --brand-400: #1ad1f2;
  --brand-300: #00c3ff;
  --cards-gradient: linear-gradient(160deg, #06697d 60%, #044a59 100%);
  --search-container-color: #b7e3ec;
  --search-container-color2: #11b2d3;
  --shadow-brand-color: #11b2d388;
}

body.dark-theme .sidebar .aside-ident-text,
body.dark-theme .sidebar .profile-card .user-name,
body.dark-theme .sidebar .profile-card .user-type {
  color: #fff !important;
}

body.dark-theme .sidebar nav a.selected,
body.dark-theme .sidebar nav a:hover {
  background: var(--brand-500) !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
}
body.dark-theme .sidebar nav a.selected i,
body.dark-theme .sidebar nav a.selected span {
  color: #fff !important;
}
body.dark-theme .sidebar nav a i,
body.dark-theme .sidebar nav a span {
  color: #cff6ff;
}
body.dark-theme .sidebar .leave span,
body.dark-theme .sidebar .leave i {
  color: #cff6ff;
}

body.dark-theme .search-container i {
  color: var(--search-container-color);
}
body.dark-theme .search-container input {
  background: none;
  border: 1.5px solid var(--search-container-color);
  color: var(--brand-950);
}
body.dark-theme .search-container input::placeholder {
  color: var(--search-container-color);
}

body.dark-theme .dashboard .card {
  background: var(--cards-gradient);
}
body.dark-theme .dashboard .card .card-title,
body.dark-theme .dashboard .card .card-section-title,
body.dark-theme .dashboard .card .card-section-subtitle,
body.dark-theme .dashboard .card ul,
body.dark-theme .dashboard .card .texts-container span {
  color: #fff;
}
body.dark-theme .dashboard .card .progress-bar-background,
body.dark-theme .dashboard .card .result-bar-background {
  background: #004a59;
}
body.dark-theme .dashboard .card .progress-bar {
  background-color: #1eb200;
}
body.dark-theme .dashboard .card .result-bar {
  background: #11b2d3;
}
body.dark-theme input[type=checkbox] {
  border: 1.5px solid var(--brand-500);
}
body.dark-theme input[type=checkbox]:checked {
  background: var(--brand-500);
  border-color: var(--brand-500);
}
body.dark-theme .top-right-buttons button:first-child {
  background: var(--brand-500);
  color: #fff;
}
body.dark-theme .top-right-buttons button:last-child {
  border: 1.5px solid var(--brand-500);
  color: var(--brand-500);
}
body, body * {
    transition: background-color 0.4s, color 0.4s, border-color 0.4s, box-shadow 0.4s;
}