<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="manage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="script.js" defer></script>
    <title>Gerenciar cursos</title>
</head>
<body>
    <aside class="sidebar">
        <i class="bi bi-chevron-right"></i>
        <div class="profile-card">
            <div class="main-profile-part">
                <img src="../../image.png" alt="Imagem de usuário">
                <div class="texts">
                    <h3 class="user-name">João Victor</h3>
                    <span class="user-type">Aluno</span>
                </div>
            </div>
            <i class="bi bi-arrow-down-circle"></i>
        </div>

        <nav class="links">
            <a href="#">
                <i class="bi bi-house"></i>
                <span class="aside-ident-text">Início</span>
            </a>
            <a href="#">
                <i class="bi bi-info-circle"></i>
                <span class="aside-ident-text">Avisos</span>
            </a>
            <a href="#">
                <i class="bi bi-book"></i>
                <span class="aside-ident-text">Meus cursos</span>
            </a>
            <a href="#">
                <i class="bi bi-gear"></i>
                <span class="aside-ident-text">Configurações</span>
            </a>
        </nav>

        <div class="leave">
            <i class="bi bi-box-arrow-right"></i>
            <span class="aside-ident-text">Sair</span>
        </div>
    </aside>

    <section class="top-right-buttons">
        <button class="button-add">
            <i class="bi bi-plus-lg"></i>
        </button>
        <button class="change-theme-button">
            <i class="bi bi-lightbulb"></i>
        </button>
    </section>

    <main class="areas-container">
        <div class="manage-area published-courses showed-area">
            <div class="area-header">
                <h3 class="area-title">Cursos publicados</h3>
                <button class="toggle-area-button"></button>
            </div>
            <div class="area-body">
                <div class="search-container">
                    <i class="bi bi-search"></i>
                    <input type="search" placeholder="Pesquisar por cursos" aria-label="Barra de pesquisa de cursos"
                    spellcheck="false">
                </div>
                <div class="courses-space">
                    <div class="column1">
                        <div class="course-card">
                            <h4 class="course-title">XML e JSON</h4>
                            <ul class="course-data">
                                <li>26 aulas</li>
                                <li>22 atividades</li>
                                <li>256 matrículas</li>
                                <li>87 certificados</li>
                            </ul>
                        </div>
                        <div class="course-card">
                            <h4 class="course-title">C# para Unity</h4>
                            <ul class="course-data">
                                <li>12 aulas</li>
                                <li>14 atividades</li>
                                <li>112 matrículas</li>
                                <li>46 certificados</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="course-card">
                            <h4 class="course-title">SCSS e SASS</h4>
                            <ul class="course-data">
                                <li>34 aulas</li>
                                <li>46 atividades</li>
                                <li>230 matrículas</li>
                                <li>198 certificados</li>
                            </ul>
                        </div>
                        <div class="course-card">
                            <h4 class="course-title">Java Orientado a Objetos</h4>
                            <ul class="course-data">
                                <li>46 aulas</li>
                                <li>38 atividades</li>
                                <li>543 matrículas</li>
                                <li>423 certificados</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="manage-area not-done-courses">
            <div class="area-header">
                <h3 class="area-title">Em andamento</h3>
                <button class="toggle-area-button"></button>
            </div>
            <div class="area-body">
                <div class="search-container">
                    <i class="bi bi-search"></i>
                    <input type="search" placeholder="Pesquisar por cursos" aria-label="Barra de pesquisa de cursos"
                    spellcheck="false">
                </div>
                <div class="nd-courses-space">
                    <div class="column1">
                        <div class="nd-course-card">
                            <h4 class="course-title">Python e Flask</h4>
                            <ul class="course-data">
                                <li>28 aulas publicadas</li>
                                <li>12 exercícios</li>
                            </ul>
                        </div>
                        <div class="nd-course-card">
                            <h4 class="course-title">C# Web</h4>
                            <ul class="course-data">
                                <li>14 aulas publicadas</li>
                                <li>8 exercícios</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column2"></div>
                </div>
            </div>
        </div>
        
        <div class="manage-area cadastre-course">
            <div class="area-header">
                <h3 class="area-title">Cadastrar novo curso</h3>
                <button class="toggle-area-button"></button>
            </div>
            <div class="area-body">
                <label for="title-input">Título</label>
                <input type="text" id="title-input">
                <label for="category-select">Categoria</label>
                <select id="category-select">
                    <option value="Programação">Programação</option>
                    <option value="Programação fullstack">Programação fullstack</option>
                    <option value="Programação front-end">Programação front-end</option>
                    <option value="Programação back-end">Programação back-end</option>
                    <option value="Design web">Design web</option>
                    <option value="Design gráfico">Design gráfico</option>
                    <option value="Software">Software</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Configuração de redes">Configuração de redes</option>
                </select>
                <label for="description-textarea">Descrição</label>
                <textarea id="description-textarea" rows="5"></textarea>

                <input type="submit" value="Publicar">
            </div>
        </div>
    </main>
</body>
</html>